In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [8]:
# Task 5a: Input string, delete characters, reverse and print

# Step 1: Take input and convert to list
input_str = input("Enter the word (e.g., python): ")
char_list = list(input_str)

# Step 2: Delete 'y' and 'o' by value or by position (indexes 1 and 4)
# Delete higher index first to avoid shifting issues
if len(char_list) >=5:
    del char_list[4]  # Remove 5th character
    del char_list[1]  # Remove 2nd character

else:
    print("Input too short to delete 2 characters.")

# Step 3: Reverse the list
char_list.reverse()

# Step 4: Join and print the result
result = ''.join(char_list)
print("Resultant string:", result)

Enter the word (e.g., python): roshan
Resultant string: nhsr

In [3]:
# Task 5b: Arithmetic operations on two user inputs

# Take two numbers
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

# Perform arithmetic operations
print(f"Addition: {num1 + num2}")
print(f"Subtraction: {num1 - num2}")
print(f"Multiplication: {num1 * num2}")
if num2 != 0:
    print(f"Division: {num1 / num2}")
else:
    print("Division: Cannot divide by zero")

Enter first number: 10
Enter second number: 2
Addition: 12.0
Subtraction: 8.0
Multiplication: 20.0
Division: 5.0

In [16]:

# Accept input from user
sentence = input("Enter a sentence: ")

# Replace all occurrences of 'python' with 'pythons'
modified_sentence = sentence.replace('python', 'pythons')

# Print the modified sentence
print("Modified sentence:", modified_sentence)

Enter a sentence: I am currently  using python compiler
Modified sentence: I am currently  using pythons compiler

In [13]:
# Accept the class score from user
score = float(input("Enter your class score (0–100): "))

# Determine the letter grade using if-elif-else
if score >= 90 and score <= 100:
    grade = 'A'
elif score >= 80:
    grade = 'B'
elif score >= 70:
    grade = 'C'
elif score >= 60:
    grade = 'D'
elif score >= 0:
    grade = 'F'
else:
    grade = 'Invalid score'

# Print the grade
print("Your grade is:", grade)

Enter your class score (0–100): -10
Your grade is: Invalid score

In [14]:
# Input list
x = [23, 'Python', 23.98]

# Create a list containing the type of each element
types = [type(i) for i in x]

# Print original list and corresponding types
print("Original list:", x)
print("Data types:", types)

Original list: [23, 'Python', 23.98]
Data types: [<class 'int'>, <class 'str'>, <class 'float'>]

In [15]:
# Question 9

# Set of IT companies
IT_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}

# Sets A and B
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}

# List of ages
age = [22, 19, 24, 25, 26, 24, 25, 24]

# 1. Length of IT_companies
print("Length of IT_companies:", len(IT_companies))

# 2. Add 'Twitter'
IT_companies.add('Twitter')
print("After adding Twitter:", IT_companies)

# 3. Add multiple companies
IT_companies.update(['TCS', 'Infosys', 'Capgemini'])
print("After adding multiple companies:", IT_companies)

# 4. Remove one company (e.g., Oracle)
IT_companies.remove('Oracle')
print("After removing Oracle:", IT_companies)

# 5. Difference between remove and discard
print("\nDifference between remove and discard:")
print("- remove(): Raises an error if element not found")
print("- discard(): Does nothing if element not found")

# 6. Join A and B (Union)
print("Union of A and B:", A.union(B))

# 7. Intersection of A and B
print("Intersection of A and B:", A.intersection(B))

# 8. Check if A is subset of B
print("Is A subset of B?", A.issubset(B))

# 9. Check if A and B are disjoint sets
print("Are A and B disjoint?", A.isdisjoint(B))

# 10. Join A with B and B with A
print("A | B:", A | B)
print("B | A:", B | A)

# 11. Symmetric difference between A and B
print("Symmetric difference:", A.symmetric_difference(B))

# 12. Delete sets
del A
del B
print("Sets A and B deleted.")

# 13. Convert age list to set and compare lengths
age_set = set(age)
print("Length of age list:", len(age))
print("Length of age set (unique values):", len(age_set))

Length of IT_companies: 7
After adding Twitter: {'Apple', 'Oracle', 'Facebook', 'Microsoft', 'Amazon', 'Twitter', 'Google', 'IBM'}
After adding multiple companies: {'Microsoft', 'Amazon', 'Capgemini', 'Twitter', 'Google', 'TCS', 'Apple', 'Oracle', 'IBM', 'Facebook', 'Infosys'}
After removing Oracle: {'Microsoft', 'Amazon', 'Capgemini', 'Twitter', 'Google', 'TCS', 'Apple', 'IBM', 'Facebook', 'Infosys'}

Difference between remove and discard:
- remove(): Raises an error if element not found
- discard(): Does nothing if element not found
Union of A and B: {19, 20, 22, 24, 25, 26, 27, 28}
Intersection of A and B: {19, 20, 22, 24, 25, 26}
Is A subset of B? True
Are A and B disjoint? False
A | B: {19, 20, 22, 24, 25, 26, 27, 28}
B | A: {19, 20, 22, 24, 25, 26, 27, 28}
Symmetric difference: {27, 28}
Sets A and B deleted.
Length of age list: 8
Length of age set (unique values): 5